---
---

@import "{{ site.theme }}";

nav {
    top: 200px;
    bottom: 10px;
    overflow-y: auto;
    text-align: left;
}

footer {
    right: 10px;
    left: 80%;
    margin-left: 0px;
}

pre {
    background: #e2e2e2;
}

code {
    color: #2f2f2f;
    text-shadow: none;
    background: #e2e2e2;
}

.tag-h3 {
    padding-left: 10px;
}